<div>
    <h3>
      <strong><%= article.title %></strong>
    </h3>

    <%= article.body %>

    <%= link_to 'Edit', edit_article_path(article) %> |
    <%= link_to "Delete", article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', articles_path %>
</div>
