<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= content_tag :p, notice, :class => 'notice' if notice.present? %>
    <%= content_tag :p, alert, :class => 'alert' if alert.present? %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
